<div class="container">
    <form>
        <div>
            <mat-table class="mat-elevation-z8" [dataSource]="configData">
                <ng-container matColumnDef="system_id">
                    <th mat-header-cell *matHeaderCellDef>#</th>
                    <td mat-cell *matCellDef="let element"> {{ element.system_id }} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                </ng-container>
                <ng-container matColumnDef="test_boolean">
                    <th mat-header-cell *matHeaderCellDef>Test Boolean</th>
                    <td mat-cell *matCellDef="let element"> {{ element.test_boolean }} </td>
                </ng-container>
                <ng-container matColumnDef="test_date">
                    <th mat-header-cell *matHeaderCellDef>Test Date</th>
                    <td mat-cell *matCellDef="let element"> {{ element.test_date }} </td>
                </ng-container>
                <ng-container matColumnDef="test_date2">
                    <th mat-header-cell *matHeaderCellDef>Test Date 2</th>
                    <td mat-cell *matCellDef="let element"> {{ element.test_date2 }} </td>
                </ng-container>
                <ng-container matColumnDef="test_null">
                    <th mat-header-cell *matHeaderCellDef>Test null</th>
                    <td mat-cell *matCellDef="let element"> {{ element.test_null }} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </mat-table>
        </div>
    </form>
</div>